body {
 background-color: rgba(153, 71, 71, 0.884);
  margin: 0 ;
   font-family: 'Times New Roman', Times, serif;
}
.inicio{
    display: flex;
     height: 100vh;
}
.foto{
    flex: 1;
    background-color: rgb(153, 77, 77);
}